@model Equipo

@{
    ViewData["Title"] = "Editar equipo";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Editar" asp-controller="Mantenedor" method="post">
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ciudad" class="control-label"></label>
        <input asp-for="Ciudad" class="form-control" />
        <span asp-validation-for="Ciudad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estadio" class="control-label"></label>
        <input asp-for="Estadio" class="form-control" />
        <span asp-validation-for="Estadio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Entrenador" class="control-label"></label>
        <input asp-for="Entrenador" class="form-control" />
        <span asp-validation-for="Entrenador" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label asp-for="Ligas">Ligas En las que Juega</label>
            <input asp-for="Ligas" class="form-control" multiple required value="@string.Join(", ", Model.Ligas ?? new string[0])" />

        </div>

    </div>
    <div class="form-group">
        <label asp-for="Puntos" class="control-label"></label>
        <input asp-for="Puntos" class="form-control" readonly/>
        <span asp-validation-for="Puntos" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
