<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Torneo.css" asp-append-version="true" />
</head>
<body>
    <div class="row">
    <div class="tournament-bracket">
        
        <div class="round round-1">
            <h1>Round 1</h1>
            <div class="game game-1">
                <div class="team team-top">Team 1</div>
                <div class="team team-bottom">Team 4</div>
            </div>
            <div class="game game-2">
                <div class="team team-top">Team 2</div>
                <div class="team team-bottom">Team 3</div>
            </div>
        </div>
        <div class="round round-2">
        <h1 >Round 2</h1>
            <div class="game game-3">
                <div class="team team-top">Winner Game 1</div>
                <div class="team team-bottom">Winner Game 2</div>
            </div>
        </div>
        <div class="round round-3">
            <h1>Round 3</h1>
            <div class="game game-4">
                <div class="team team-top">Tournament Winner</div>
            </div>
        </div>
    </div>
    </div>
</body>