@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Fantasy Futbol</h1>
    <p>En este programma puedes crear diferentes equipos </a>.</p>
    <ul>
        <li><a asp-controller="Mantenedor" asp-action="Listar">Ver equipos</a></li>
        <li><a asp-controller="Mantenedor" asp-action="Crear">Crear Euqipo Nuevo</a></li>
        <li><a asp-controller="Mantenedor" asp-action="Torneo">Torneo</a></li>
    </ul>
</div>
