@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Fantasy Futbol</h1>
    <p>En este programa puedes crear diferentes equipos y ver como progresan en torneos.</p>
    <ul>
        <li><h4 class="font-weight-bold"><a asp-controller="Mantenedor" asp-action="Listar">Ver equipos/Clasificaciones</a></h4></li>
        <li><h4 class="font-weight-bold"><a asp-controller="Mantenedor" asp-action="Crear">Crear Equipo Nuevo</a></h4></li>
        <li><h4 class="font-weight-bold"><a asp-controller="Mantenedor" asp-action="Torneo">Torneo</a></h4></li>
        <li><h4 class="font-weight-bold"><a asp-controller="Mantenedor" asp-action="Administrar">Administrar Equipos</a></h4></li>

    </ul>
</div>
